.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}.navLinks{
    display: inline;
    padding-left:20px ;
    padding-right:20px ;

}
.logo-wrapper{
    display: inline;
}
.navigation
{
    margin: 0 auto;
    background-color: grey;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
a{
    text-decoration: none;
}